<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zerotop.wechat.tunnel.dao.catalogMapper" >
  <resultMap id="BaseResultMap" type="top.zerotop.wechat.tunnel.domain.catalog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="chapter" property="chapter" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="is_important" property="isImportant" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, chapter, href, is_important
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from catalog
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="listCatalogByIsImportant" resultMap="BaseResultMap">
    select * from catalog
    <!-- 
    where is_important = #{isImportant}
     -->
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from catalog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.zerotop.wechat.tunnel.domain.catalog" >
    insert into catalog (id, chapter, href, 
      is_important)
    values (#{id,jdbcType=BIGINT}, #{chapter,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, 
      #{isImportant,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="top.zerotop.wechat.tunnel.domain.catalog" >
    insert into catalog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chapter != null" >
        chapter,
      </if>
      <if test="href != null" >
        href,
      </if>
      <if test="isImportant != null" >
        is_important,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="chapter != null" >
        #{chapter,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="isImportant != null" >
        #{isImportant,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.zerotop.wechat.tunnel.domain.catalog" >
    update catalog
    <set >
      <if test="chapter != null" >
        chapter = #{chapter,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="isImportant != null" >
        is_important = #{isImportant,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.zerotop.wechat.tunnel.domain.catalog" >
    update catalog
    set chapter = #{chapter,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      is_important = #{isImportant,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>